body{
  background-color: black;
}
.heading{
  color: bisque;
  margin-left: 40vw;
  font-size: 40px;

}
.TitleTxt{
  border-color: bisque;
  margin-top: 1vh;
  margin-left: 25vw;
  width: 50vw;
  height: 5vh;
  font-size: 30px;
  background-color:black;
  color: whitesmoke;
  
}
.NoteWriting{
  border-color: bisque;
  background-color: black;
  margin-top: 1vh;
  margin-left: 25vw;
  width: 50vw;
  font-size: 20px;

}
::placeholder{
  font-size: 3vh;
  color: whitesmoke;
}
.savebtn{
  font-size: 30px;
  margin-left: 27vw;
  background-color:bisque;
  border-radius: 10px;
  margin-top: 3vh;
}
.savebtn:hover{
  background-color:cyan;
}
