.TitleTxt{
  margin-top: 5vh;
  margin-left: 25vw;
  width: 50vw;
  height: 5vh;
  font-size: 30px;
  
}
.NoteWriting{
  margin-top: 1vh;
  margin-left: 25vw;
  width: 50vw;
  font-size: 20px;

}
::placeholder{
  font-size: 3vh;
}
.savebtn{
  font-size: 30px;
  margin-left: 27vw;
  background-color: royalblue;
  border-radius: 10px;
  margin-top: 3vh;
}